{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% include 'blog/new_post_feature.html' %}
        <br>
    {% endif %}
    <br>
    {% if not posts %}
        <div class="d-flex justify-content-center">
            {% include 'icons/emptybattery.svg' %}      
        </div>
        <p class="d-flex justify-content-center">Empty! no blog posts added yet. </p>
        <p class="d-flex justify-content-center">Please check back later</p>
    {% else %}
        {% for p in posts %}   
            <article>
                <h2><a style="text-decoration: none" href="{% url 'detailed_post' pk=p.pk %}">{{ p.title }}</a></h2>
                <p class="texts">{{ p.content|linebreaksbr }}</p>
                <time>Published: {{ p.published_date }}</time>
            </article>
            <hr>
        {% endfor %}
    {% endif %}

{% endblock %}