{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Ganesh Rohit</title>
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-16x16.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <main>
            <section style="background-color: #24292f;">
                <div class="heading container-xl px-3 px-sm-5">
                    <header class="ps-xl-5" style="color: white;">
                        <h1><a style="text-decoration: none; color: white;" href="/">Ganesh Rohit <span style="font-size: x-large;">(గణేష్ రోహిత్)</span></a></h1>
                    </header>
                </div>
            </section>
            
            <section style="background-color: #24292f;">
                <nav class="navbar navbar-expand container-xl px-3 px-sm-5">
                    <ul class="ps-xl-5">
                        <li><a href="/" aria-current="page">Home</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/">Projects</a></li>
                        <li><a href="https://github.com/ganeshrohit" target="_blank">
                            {% include './icons/github-mark.svg' %}GitHub{% include './icons/external-link.svg' %} </a>
                        </li>
                        <li><a href="https://drive.google.com/file/d/1tF-wjw0MFu6PM5EIjvPKpdhJs8sAEKJR/view?usp=sharing" 
                            target="_blank">
                            Resume/CV{% include './icons/external-link.svg' %} </a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/ganesh79/" 
                            target="_blank">
                            {% include './icons/linkedin.svg' %} LinkedIn{% include './icons/external-link.svg' %} </a>
                        </li>
                    </ul>
                </nav> 
            </section>

            <section>
                <!--<div class="content" style="margin-left: auto; margin-right: auto; max-width: 90%;"> -->
                <div class="container-xl px-3 px-sm-5" style="padding-top: 20px;">
                    <div class="ps-xl-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>
    </body>
</html>