{% extends 'base.html' %}

{% block content %}
    
    <h2>My Projects:</h2>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Analysis of Pathfinding Algorithms in Grid Worlds</h4>
          </div>
        <div class="card-body">
            <p class="card-text">Implemented and analyzed the performance of three pathfinding algorithms in 
                Python - Repeated Forward A-Star, Adaptive A-Star, and Repeated Backward A-Star - in a 
                grid world for finding efficient paths between start and goal states in randomly generated Complex mazes. 
                Developed visualization of grid and movement of player's avatar using PyGame. 
                Analyzed the performance of algorithms according to the length of the path and the time taken to reach the goal.</p>
            
            <p style="color: #6d6d6d">October 2022</p>
            <p><a href="https://github.com/ganeshrohit/Path-Finder-in-a-Maze" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Bluetooth-Based Home Automation System</h4>
          </div>
        <div class="card-body">
            <p class="card-text">Designed and built a Bluetooth-based home automation system using an 
                STM-32F303RE Microcontroller and coded in C language. 
                The system can control the intensity of lights and the speed of fans based on the natural light 
                intensity and temperature values. 
                Additionally, the system can be controlled remotely via a mobile device using Bluetooth.</p>
            <p style="color: #6d6d6d">May 2019</p>
            <p><a href="https://github.com/ganeshrohit/Home-Automation-System" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>My Personal Website</h4>
          </div>
        <div class="card-body">
            <p class="card-text"> Portfolio website running on Python(Django), HTML, CSS, and Bootstrap.</p>
            <p style="color: #6d6d6d">2023</p>
            <p><a href="https://github.com/ganeshrohit/My-Personal-Website" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Image Encryption</h4>
          </div>
        <div class="card-body">
            <p class="card-text"> Implemented the RSA and Chaos Maps based image encryption algorithms.</p>
            <p style="color: #6d6d6d">December 2022</p>
            <p><a href="https://github.com/ganeshrohit/Image-Encryption-Using-RSA-and-Chaotic-Maps" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>
    <div class="card w-75">
        <div class="card-header" style="background-color: rgba(192, 192, 192, 0.349);">
            <h4>Image Classification and Analysis Using ML Algorithms</h4>
          </div>
        <div class="card-body">
            <p class="card-text">Developed custom Naive Bayes and Perceptron classifiers and implemented Support Vector Classification 
                using the Scikit-learn library to accurately classify handwritten digit and face images. 
                Conducted a comparative analysis of the performance on test data and achieved an accuracy of 90% for both digits and faces.</p>
            <p style="color: #6d6d6d">December 2022</p>
            <p><a href="https://github.com/ganeshrohit/Face-and-Digit-Classification" target="_blank" class="btn btn-outline-primary">Source Code</a></p>
        </div>
    </div>
    <br>

{% endblock %}